* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: rgb(237, 0, 0);
}

/* --- MAIN-PAGE --- */

.main {
  &__background-image {
    width: 100%;
  }
}